::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background-color: #EEE;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #9E9E9E;
}
a {
  color: #333;
}
a:hover {
  color: #09F;
}
html {
  position: relative;
  min-height: 100%;
  font-size: 10px;
}
html.boot {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAMAAAGE1n4vAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJUExURf///9jY2AAAANpZkvEAAAADdFJOU///ANfKDUEAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAYSURBVBhXY8AFGKEQmQXlwigQQBFhYAAAAlMAEU+CHU8AAAAASUVORK5CYII=");
}
body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  font-size: 1.6rem;
  color: #333;
  line-height: 1.8;
  background-color: transparent;
}
pre,
code {
  font-family: 'Source Code Pro', consolas, Menlo, 'PingFang SC', 'Microsoft YaHei', monospace;
  font-size: 16px;
}
.navbar {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-start;
  user-select: none;
  overflow: hidden;
  align-items: center;
}
@media (max-width: 768px) {
  .navbar {
    height: 50px;
    margin-bottom: 0;
  }
}
.navbar .brand {
  display: inline-block;
  font-size: 2em;
  line-height: 70px;
}
@media (max-width: 768px) {
  .navbar .brand {
    flex-grow: 1;
    line-height: 50px;
  }
}
.navbar .brand:hover {
  text-decoration: none;
}
.navbar .nav-bar {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  padding-left: 0;
  align-items: center;
}
@media (max-width: 768px) {
  .navbar .nav-bar {
    display: none;
  }
}
.navbar .nav-bar li {
  display: inline-block;
  margin: 0 20px;
}
.navbar .nav-bar li:last-child {
  margin-right: 0;
}
.navbar .nav-bar li a {
  display: inline-block;
  padding: 0 0.5em;
  font-size: 1.6rem;
  line-height: 68px;
}
.navbar .nav-bar li a:hover {
  text-decoration: none;
}
.navbar .nav-bar-mb {
  display: none;
  flex-flow: column nowrap;
  justify-content: space-around;
  float: right;
  width: 36px;
  min-height: 30px;
  padding: 0.5rem 0.75rem;
  border: 1px solid #EDEDED;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.25);
  align-items: center;
}
@media (max-width: 768px) {
  .navbar .nav-bar-mb {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    float: right;
  }
}
.navbar .nav-bar-mb .icon-bar {
  width: 100%;
  height: 1px;
  background-color: #666;
}
.setting {
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  z-index: 999;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  width: 100%;
  transition: all 0.2s;
  background-color: rgba(0, 0, 0, 0.3);
}
.setting.active {
  right: 0;
  transition: all 0.2s;
}
.setting .setting-box {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: column nowrap;
  width: 70%;
  min-width: 70%;
  padding: 30px 10px 30px 30px;
  background-color: #333;
}
.setting .setting-box .menus {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  width: 100%;
}
.setting .setting-box .menus .item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  text-align: right;
  border-bottom: 1px dotted #EDEDED;
}
.setting .setting-box .menus .item a {
  padding: 10px 20px;
  color: #FFF;
  outline: none;
}
.setting .setting-box .menus .item a:focus,
.setting .setting-box .menus .item a:hover {
  text-decoration: none;
}
.setting .setting-box .setting-btn {
  width: 100%;
  min-height: 50px;
  color: #FFF;
  text-align: right;
}
.main {
  position: relative;
  box-sizing: border-box;
  margin-top: 50px;
  margin-bottom: 120px;
  padding: 30px;
  background-color: #FFF;
  box-shadow: 0 4px 30px 0 rgba(223, 225, 230, 0.5);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .main {
    margin-top: 25px;
    margin-bottom: 70px;
    padding: 15px 15px;
    background-color: transparent;
    box-shadow: none;
  }
}
.blog {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.blog .item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 20px;
  word-break: break-all;
  border-bottom: 1px dotted #DDD;
}
.blog .item:last-child {
  margin-bottom: 0;
}
.blog .item .content {
  position: relative;
}
.blog .item .content a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
}
.blog .item .content:hover .title {
  color: #09F;
  transition: all 1s;
}
.blog .item .content:hover .desc {
  color: #333;
  transition: all 1s;
}
.blog .item .content .title {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  transition: all 1s;
}
.blog .item .content .desc {
  margin-bottom: 10px;
  transition: all 1s;
}
.blog .item .infos {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: row wrap;
  font-size: 1.4rem;
}
.blog .item .infos .time {
  margin-right: 3em;
  color: #666;
}
.blog .item .infos .tags {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 10px;
  color: #666;
}
.blog .item .infos .tags a {
  display: inline-block;
  margin-right: 1em;
  font-size: 1.4rem;
  color: #888;
}
.blog .item .infos .tags a:last-child {
  margin-right: 0;
}
.post {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: column nowrap;
}
.post .title {
  margin-bottom: 10px;
  text-align: center;
}
.post .infos {
  margin-bottom: 10px;
  font-size: 1.4rem;
  color: #666;
  text-align: center;
}
.post .infos span {
  display: inline-block;
}
.post .infos span.time {
  margin-right: 1em;
  color: #999;
}
.post .infos span.tags a {
  font-size: 1.4rem;
  color: #999;
}
.post .content {
  padding-top: 30px;
  font-size: 16px;
}
.post .nav {
  position: absolute;
  right: -60px;
  bottom: 0;
  width: 38px;
  height: 100px;
  border: 1px solid #EDEDED;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}
.post .comments {
  width: 100%;
}
.post .comments .title {
  display: inline-block;
}
.page blockquote {
  margin-bottom: 30px;
  background-color: #FFF;
}
.page blockquote footer {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.page blockquote footer strong {
  display: inline-block;
  margin-right: 0.5em;
}
.page h3 {
  margin-bottom: 30px;
}
.page ul {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-top: 30px;
  padding: 0;
  list-style: none;
  align-items: center;
}
@media (max-width: 768px) {
  .page ul {
    min-width: 100%;
  }
}
.page ul li {
  box-sizing: border-box;
  min-width: 25%;
  min-height: 30px;
  margin: 0;
  padding: 1rem 1rem 1rem 0;
}
@media (max-width: 768px) {
  .page ul li {
    min-width: 100%;
  }
}
.page ul li a {
  display: block;
  padding-left: 1rem;
  line-height: 60px;
  transition: all 0.4s;
  border: 1px solid #EDEDED;
  border-radius: 5px;
  background-color: #FFF;
}
.page ul li a:hover {
  transition: all 0.4s;
  text-decoration: none;
}
.tags-cloud {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 100%;
  align-items: flex-start;
}
.tags-cloud .title {
  width: 100%;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #EDEDED;
}
.tags-cloud .title .h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.tags-cloud .tag {
  color: #666;
  transition: all 0.2s;
}
.tags-cloud .tag:hover {
  transition: all 0.2s;
  text-decoration: none;
}
figure.highlight {
  width: 100%;
}
figure.highlight table {
  width: 100%;
}
.comments {
  width: 100%;
  margin: 50px auto 0;
}
.comments .title {
  color: #666;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  height: 50px;
  user-select: none;
  background-color: #333;
}
.footer .copyright p {
  margin-bottom: 0;
  color: #999;
  line-height: 50px;
  text-align: center;
}
.footer .copyright p a {
  color: #DDD;
}
